footer {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer h3 {
    margin: 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #E0E0E0;
}

footer i {
    margin-right: 10px;
}
.Copyright{
    text-align:center ;
}
