<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Social Media</h3>
          <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Contact Information</h3>
          <ul>
            <li>Email: amoskinuthia15@gmail.com</li>
                <li>Phone: +254706991937</li>
                <li>Address: Nairobi, Kenya</li>
            </ul>
</div>
</div>
<div class="row Copyright">
<div class="col-sm">
<p>Copyright ©2023</p>
</div>
</div>

  </div>
</footer>
  
