  <!-- About Section -->
  <!-- <div class="d-flex align-items-center justify-content-center"> -->
  <div class="row flex-lg-row-reverse align-items-center mb-5"id="about">
    <p>Hi, I am </p>
    <h2 class="">Amos</h2>
    <p>Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="row">
    <h3 class="">My Skills</h3>
    <div class=" card col-4">
    <p class="card-title">Photography</p>
    <div class="card-body">
  
    </div>
    </div>
    <div class="card col-4">
    <p class="card-title">Web Design</p>
    <div class="card-body">
     
    </div>
    </div>
    <!-- <div class="card col-4">
    <p class="card-title">Photoshop</p>
    <div class="card-body">
     
    </div>
    </div> -->
    </div>

    <div class="row">
      <div class="col-3 card text-center top-cards">
        <div class="card-body">
          <h6 class="card-title">Partners</h6>
          <h3 class="card-text fw-bold">10+</h3>        
        </div>
    </div>
    <div class="col-3 card text-center top-cards">
      <div class="card-body">
        <h6 class="card-title">Projects Done</h6>
        <h3 class="card-text fw-bold">11+</h3>        
      </div>
  </div>
  <div class="col-3 card text-center top-cards">
    <div class="card-body">
      <h6 class="card-title">Happy Clients</h6>
      <h3 class="card-text fw-bold">50+</h3>
    </div>
  </div>
  <div class="col-3 card text-center top-cards">
    <div class="card-body">
      <h6 class="card-title">Meetings</h6>
      <h3 class="card-text fw-bold">150+</h3>
    </div>
  </div>
    </div>
  
      <button type="submit" class="btn btn-signup mt-3 theEnd"  
      >
      Download Resume
      </button>
   
    
    <!-- Grid for pricing tables -->
    <div class="row">
    <h3 class="text-center">My Price</h3>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <hr>
    <!-- Grid/Pricing tables -->
    <div class="col-6 card" >
        <ul class="card-body">
          <li class="card-title">Basic</li>
          <li class="">Web Design</li>
          <li class="">Photography</li>
          <li class="">5GB Storage</li>
          <li class="">Mail Support</li>
          <li class="">
            <h2>$ 10</h2>
            <span class="">per month</span>
          </li>
          <li class="">
            <button class="">Sign Up</button>
          </li>
        </ul>
      </div>
      <div class="col-6 card">
        <ul class="card-body">
          <li class="card-title">Pro</li>
          <li class="">Web Design</li>
          <li class="">Photography</li>
          <li class="">50GB Storage</li>
          <li class="">Endless Support</li>
          <li class="">
            <h2>$ 25</h2>
            <span class="">per month</span>
          </li>
          <li class="">
            <button class="">Sign Up</button>
          </li>
        </ul>
      </div>
    <!-- End Grid/Pricing tables -->
    </div>
    
    <!-- Testimonials -->
  <div class="row mb-5">
    <h3 class="text-center">My Reputation</h3>  
    <div class="col-6 card">
    <img src="" alt="Avatar">
    <p><span class="">Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>John Doe saved us from a web disaster.</p><br>
  </div>
  <div class="col-6 card">
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" >
    <p><span>Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than John Doe.</p>
  </div>
  </div>
  </div>
  <!-- End About Section -->
