<!-- About Section -->
<!-- <div class="d-flex align-items-center justify-content-center"> -->
<div class="row flex-lg-row-reverse align-items-center mb-5" id="about">
  <p>Hi there,</p>
  <p>
    I'm a software engineer with a background in electrical and telecom
    engineering. I have extensive experience with a wide range of programming
    languages and technologies, including Java, Spring Boot, Angular, Bootstrap,
    Python, C, and OOP. Throughout my career, I've successfully led teams and
    completed complex projects while adhering to software development best
    practices and agile methodologies. I take pride in being a highly motivated
    and detail-oriented individual with strong problem-solving skills. I'm
    passionate about creating elegant, efficient, and reliable software that
    meets the needs of users and clients. If you're interested in learning more
    about my skills and experience, please take a look at my portfolio.
  </p>

  <!-- skills page -->
  <div class="row">
    <h3 class="">My Skills</h3>
    <div class="col-4">
      <div class="item">
        <div class="item-text">
          <span>PHP</span>
          <span class="w-68">68%</span>
        </div>
        <div class="progress">
          <div class="progress-bar w-68"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="item">
        <div class="item-text">
          <span>Wordpress</span>
          <span class="w-60">60%</span>
        </div>
        <div class="progress">
          <div class="progress-bar w-60"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="item">
        <div class="item-text">
          <span>CSS3</span>
          <span class="w-80">80%</span>
        </div>
        <div class="progress">
          <div class="progress-bar w-80"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="item">
        <div class="item-text">
          <span>PHP</span>
          <span class="w-68">68%</span>
        </div>
        <div class="progress">
          <div class="progress-bar w-68"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="item">
        <div class="item-text">
          <span>Wordpress</span>
          <span class="w-60">60%</span>
        </div>
        <div class="progress">
          <div class="progress-bar w-60"></div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="item">
        <div class="item-text">
          <span>CSS3</span>
          <span class="w-80">80%</span>
        </div>
        <div class="progress">
          <div class="progress-bar w-80"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-signup mt-3 theEnd">
      Download Resume
    </button>
  </div>
  <!-- Testimonials -->
  <div class="row mb-5" @pricingAnim>
    <h3 class="text-center">My Reputation</h3>
    <div class="col-6 card">
      <img src="" alt="Avatar" />
      <p>
        <span class="">Chris Fox.</span>
        CEO at Mighty Schools.
      </p>
      <p>John Doe saved us from a web disaster.</p>
      <br />
    </div>
    <div class="col-6 card">
      <img src="/w3images/avatar_g2.jpg" alt="Avatar" />
      <p>
        <span>Rebecca Flex.</span>
        CEO at Company.
      </p>
      <p>No one is better than John Doe.</p>
    </div>
  </div>
  <button id="myBtn" class="back-to-top-btn" (click)="scrollToTop()">
    <i class="fas fa-chevron-up"></i>
  </button>
</div>
<!-- End About Section -->
