  <!-- Contact Section -->
  <div class="contact-form" id="contact">
  <div class="row" >
    <div class="col-6">
    <h2 class="">Contact Me</h2>
    <hr style="width:200px" class="">

    <div class="input">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Nairobi, Kenya</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +254 706991937</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: amoskinuthia15@gmail.com</p>
      <p><a href="https://twitter.com/amoskinuthia_01"><i class="fab fa-twitter fa-fw w3-text-white w3-xxlarge w3-margin-right"></i></a> Twitter</p>
      <p><a href="https://www.linkedin.com/Amoskinuthia"><i class="fab fa-linkedin-in fa-fw w3-text-white w3-xxlarge w3-margin-right"></i></a> LinkedIn</p>
      <p><a href="https://github.com/Amoskinuthia"><i class="fab fa-github fa-fw w3-text-white w3-xxlarge w3-margin-right"></i></a> Github</p>
      <p><a href="https://wa.me/0706991937"><i class="fab fa-whatsapp fa-fw w3-text-white w3-xxlarge w3-margin-right"></i></a> WhatsApp: +254 706991937</p>
    </div>
    
    <br>
    </div>
    <div class="col-6">
    <p>Let's get in touch. Send me a message:</p>

    <form>
      <p><input class="" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
    </div>
  </div>
  </div>
  <!-- End Contact Section -->
