nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 .25rem .25rem #e6edef;
  }
  p {
    color: white;
    text-decoration: solid;
    font-weight: bolder;
    font-size: 25px;
    padding: 0;

  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px;
  }
  
  nav a:hover {
    color: #E0E0E0;
  }
  
  /* Media queries */
  @media (max-width: 800px) {
    nav {
      flex-wrap: wrap;
    }
    nav a {
      margin: 10px 0;
      width: 100%;
      text-align: center;
    }
    /* Hamburger menu */
    .hamburger-menu {
      display: block;
    }
    /* Hide menu items */
    nav a {
      display: none;
    }
  }
  
  /* Dropdown menu */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: rgb(230, 36, 36);
    color: white;
  }
  
  /* Show dropdown menu on hover */
  nav a:hover + .dropdown-menu {
    display: block;
  }
  @media (max-width: 800px) {
    .desktop-nav {
      display: none;
    }
    .mobile-nav {
      display: flex;
      flex-direction: column;
    }
    .mobile-nav a {
      margin: 10px 0;
      width: 100%;
      text-align: center;
    }
    /* Hamburger menu */
    .hamburger-menu {
      display: block;
    }
    /* Show dropdown menu on click */
    .mobile-nav .dropdown-menu {
      display: none;
    }
    .mobile-nav a:hover + .dropdown-menu {
      display: block;
    }
  }
  /* Desktop navigation */
nav.desktop {
  display: block;
}

/* Mobile navigation */
nav.mobile {
  display: none;
}

/* Media query for small screens */
@media screen and (max-width: 800px) {
  /* Hide desktop navigation */
  nav.desktop {
    display: none;
  }

  /* Show mobile navigation */
  nav.mobile {
    display: block;
  }
}

  

   
  
  