<nav>
    <p>AMOS</p>
    <a routerLink="/" class="nav-item"> <i class="fas fa-home"></i> <span>Home</span> </a>
    <a routerLink="/skills" class="nav-item"> <i class="fas fa-toolbox"></i> <span> About</span> </a>
    <a routerLink="/projects" class="nav-item"> <i class="fas fa-folder"></i> <span> Projects</span> </a>
    <a routerLink="/articles" class="nav-item"> <i class="fas fa-book"></i> <span> Articles</span> </a>
    <a routerLink="/contacts" class="nav-item"> <i class="fas fa-address-book"></i> <span> Contacts</span> </a>
  </nav>
  
