<nav>
    <p>AMOS</p>
    <a routerLink="/" class="nav-item"> <i class="fas fa-home"></i> <span>Home</span> </a>
    <a routerLink="/skills" class="nav-item"> <i class="fas fa-toolbox"></i> <span> About</span> </a>
    <a routerLink="/projects" class="nav-item"> <i class="fas fa-folder"></i> <span> Projects</span> </a>
    <a routerLink="/articles" class="nav-item"> <i class="fas fa-book"></i> <span> Articles</span> </a>
    <a routerLink="/contacts" class="nav-item"> <i class="fas fa-address-book"></i> <span> Contacts</span> </a>
  </nav>
  <!-- <nav class="desktop">
    <p>AMOS</p>
    <a routerLink="/" class="nav-item"> <i class="fas fa-home"></i> <span>Home</span> </a>
    <a routerLink="/skills" class="nav-item"> <i class="fas fa-toolbox"></i> <span> About</span> </a>
    <a routerLink="/projects" class="nav-item"> <i class="fas fa-folder"></i> <span> Projects</span> </a>
    <a routerLink="/articles" class="nav-item"> <i class="fas fa-book"></i> <span> Articles</span> </a>
    <a routerLink="/contacts" class="nav-item"> <i class="fas fa-address-book"></i> <span> Contacts</span> </a>
  </nav>
  
  <nav class="mobile">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#" class="hamburger-menu">Menu</a>
    
    <div class="dropdown-menu">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
  </nav> -->
  <!-- Navigation -->
  <!-- <section id="navigation">
    <div class="nav-icon">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </div>
  </section>
  <div id="nav-content">
    <div class="close-btn">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
    <div class="wrapper">
      <h2 class="section-heading">Menu</h2>
      <nav>
        <ul>
          <li><a data-text="Home" href="./index.html#hero">Home</a></li>
          <li><a data-text="About" href="./index.html#about">About</a></li>
          <li><a data-text="Projects" href="./index.html#projects">Projects</a></li>
          <li><a data-text="Testimonial" href="./index.html#testimonial">Testimonial</a></li>
          <li><a data-text="Contact" href="./contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div> -->