<!-- blog page -->
<section class = "blog container">
    <h1>Latest Articles</h1>
    <p class = "text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus architecto fugit veniam ad consectetur, perferendis, voluptatum, commodi cum facere accusantium error alias ex exercitationem. Explicabo?</p>

    <div class = "row">
      <div class = "item">
        <div class = "item-img">
          <img src="../../assets/images/backgroundImage.jpeg" alt = "blog image">
        </div>
        <div class = "item-content">
          <span>june 22, 2022 &nbsp; admin
            <i class = "fas fa-comment-alt"></i> 3
          </span>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
          <button type = "button" class = "btn">read more</button>
        </div>
      </div>

      <div class = "item">
        <div class = "item-img">
          <img src="../../assets/images/backgroundImage.jpeg" alt = "blog image">
        </div>
        <div class = "item-content">
          <span>june 22, 2022 &nbsp; admin
            <i class = "fas fa-comment-alt"></i> 3
          </span>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
          <button type = "button" class = "btn">read more</button>
        </div>
      </div>

      <div class = "item">
        <div class = "item-img">
          <img src="../../assets/images/backgroundImage.jpeg" alt = "blog image">
        </div>
        <div class = "item-content">
          <span>june 22, 2022 &nbsp; admin
            <i class = "fas fa-comment-alt"></i> 3
          </span>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
          <button type = "button" class = "btn">read more</button>
        </div>
      </div>

      <div class = "item">
        <div class = "item-img">
          <img src="../../assets/images/backgroundImage.jpeg" alt = "blog image">
        </div>
        <div class = "item-content">
          <span>june 22, 2022 &nbsp; admin
            <i class = "fas fa-comment-alt"></i> 3
          </span>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
          <button type = "button" class = "btn">read more</button>
        </div>
      </div>

      <div class = "item">
        <div class = "item-img">
          <img src="../../assets/images/backgroundImage.jpeg" alt = "blog image">
        </div>
        <div class = "item-content">
          <span>june 22, 2022 &nbsp; admin
            <i class = "fas fa-comment-alt"></i> 3
          </span>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
          <button type = "button" class = "btn">read more</button>
        </div>
      </div>

      <div class = "item">
        <div class = "item-img">
          <img src="../../assets/images/backgroundImage.jpeg" alt = "blog image">
        </div>
        <div class = "item-content">
          <span>june 22, 2022 &nbsp; admin
            <i class = "fas fa-comment-alt"></i> 3
          </span>
          <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, aliquam</h2>
          <p class = "text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, voluptas sint architecto, repellendus quae facilis eaque aperiam fugiat vel, similique necessitatibus tenetur saepe commodi repudiandae perferendis error eligendi omnis iste?</p>
          <button type = "button" class = "btn">read more</button>
        </div>
      </div>
    </div>

    <div class = "pagination">
      <a href = "#" class = "page-link">1</a>
      <a href = "#" class = "page-link">2</a>
      <a href = "#" class = "page-link">3</a>
      <a href = "#" class = "page-link">4</a>
    </div>
    <button id="myBtn" class="back-to-top-btn" (click)="scrollToTop()">
      <i class="fas fa-chevron-up"></i>
    </button>
  </section>
  <!-- end of blog page -->
  
