.home{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    text-decoration: wavy;
    display: grid;
    grid-template-columns: 1fr 1fr;
  
}
.title{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
  
}
header{
  padding: 100px;
}
#typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 3s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

