<!-- Header/Home -->
<header class="home">
  <h1 class="title">
    <span>I'm</span>
    Amos
  </h1>
  <p id="typewriter">
    a software engineer with an electrical and telecom engineering
    background. 
    
    I am proficient in the following programming languages and
    technologies; Java, Spring Boot, Angular, Bootstrap, Python, C, and OOP.
    
    With a track record of successful project completion and experience as a
    team lead, I have a deep understanding of software development best
    practices and agile methodologies.
  </p>
</header>
